<!--Menu como una pelicula-->
<div class="card" style="height: 95vh; display: flex; justify-content: center;">
    <div style="background-color: rgba(56, 56, 56, 0.616);">
        <nav class="nav flex-column text-center" style="font-size: 4rem;">
            <a class="nav-link" routerLink="/adventure">Adventure</a>
            <a class="nav-link" routerLink="/historical">Historical</a>
            <a class="nav-link  dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Configuration
            </a>
            <ul class="dropdown-menu dropdown-custom text-center" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/demons">Demon</a></li>
                <li><a class="dropdown-item" routerLink="/places">Place</a></li>
            </ul>
        </nav>
    </div>
</div>
